<!DOCTYPE html>
<html>
<head>
	
	{{ partial "head.html" . }}

</head>
<body>

	{{ partial "header.html" . }}
	
	{{ partial "global-header.html" .Site.Params.main }}
	
	<div class="index-content-background">
	
	<div id="index-content-container">
		<div class="mission-container">
			{{ partial "mission.html" . }}
		</div>
		<div class="news-container">
			{{ partial "news.html" . }}
		</div>
	</div>
	</div>

	{{ partial "background-image.html" . }}

	{{ partial "footer.html" . }}

</body>
</html>
