<div class="mission">
	
  <h2 class="text-uppercase">IPASC Mission</h2>

The overall goal of IPASC is to reach consensus on photoacoustic imaging (PAI) standardization to improve the quality of preclinical studies and to accelerate efforts in clinical translation. Furthermore, by establishing standards IPASC hopes to facilitate open access, use, and exchange of data between different groups.<br />
<br />
IPASC is currently represented globally in over 15 countries with more than 90 academic and industrial members (see our <a href="/consortium"> <b> Member List </b> </a> for a full overview). If you also want to get involved and contribute to the consortium, please follow the 'Get Involved' instructions. To learn more about the goals and efforts of IPASC, please also have a look at our letter to the editor published in Nature Photonics.
    <div>
      <a href="/getinvolved" class="btn btn-mission">Get Involved</a>
	  <a href="https://rdcu.be/byvad" target="_blank" class="btn btn-mission">Nat Photonics Letter</a>
	  <a href="/documents/IPASC_Consensus_Workflow_2019_09.pdf" target="_blank" class="btn btn-mission">Consensus Workflow</a>
    </div>
	<br />
    <h4>IPASC aims to: </h4>
	
	    <div class="mission-statement">
    <ol> 
		<li> Define widely accepted phantoms for use with preclinical and clinical PAI systems </li>
		<li> Provide open, publicly available, reference datasets for testing of data reconstruction and spectral processing algorithms in a widely accepted data format </li>
		<li> Use these phantoms to enable quantitative comparison of PAI data acquired with different system designs and analysed with different data reconstruction and spectral processing algorithms </li>
		<li> Agree upon a standardized and validated test method for new PAI instruments to help with comparison of published results.</li>
    </ol>
	To achieve these goals, the IPASC efforts have been streamlined into three thematic areas: <br />
			
	<a class="hexagon">
      <div class="hexagon-text">
        <h4>Phantom Development</h4>
        <p>Define ideal optical and acoustic phantom properties and design standard phantoms.</p>
      </div>
	</a>
        
    <a class="hexagon">
      <div class="hexagon-text">
        <h4>Data Acquisition and Management</h4>
        <p>Collect specifications of PAI systems and define a standard data format.</p>
      </div>
	</a>
        
    <a class="hexagon">
      <div class="hexagon-text">
        <h4>Study Design</h4>
        <p>Design multi-centre studies and resolve logistical challenges.</p>
      </div>
	</a>
    
	<br /><br /> <a href="https://rdcu.be/byvad">[<i>Addressing photoacoustics standards</i>, Nature Photonics, 2019]</a>
    
	</div>

</div>