<div id="news">
	
	<h2 class="text-uppercase">News</h2>
	<div class="news-item">
      <h4>Image Reconstruction Project</h4>
		The DAM theme has initiated a project on the systematic evaluation of image reconstruction algorithms for photoacoustic imaging<br />
      <div class="btn btn-main">
        <a href="/theme-data-acquisition-and-management/">Read More</a>
      </div>
    </div>
	<div class="news-item">
      <h4>Welcome New Members!</h4>
		IPASC would like to welcome its new members who joined in 2021. IPASC now has more than 110 academic and over 20 industrial members!<br />
      <div class="btn btn-main">
        <a href="/getinvolved/">Get Involved</a>
      </div>
    </div>
	<div class="news-item">
      <h4>SPIE Photonics West 2022</h4>
		IPASC will be at SPIE Photonics West 2022 in the <i> photons plus ultrasound</i> subconference with poster presentations. <br />
      <div class="btn btn-main">
        <a href="https://spie.org/PWB/conferencedetails/photons-plus-ultrasound?SSO=1" target="_blank" >Find us in the program</a>
      </div>
    </div>
	<div class="news-item">
      <h4>IEEE IUS: Proceedings Paper</h4>
      We proudly present our IEEE IUS proceedings paper about the efforts of IPASC. If you are interested, you can check it out here: <br />
      <div class="btn btn-main">
        <a href="https://discovery.ucl.ac.uk/id/eprint/10118996/1/Cox_2020_IPASC_IEEE.pdf">IEEE IUS Proceedings Paper</a>
      </div>
    </div>
	<div class="news-item">
      <h4>Nature Photonics: Letter to the Editor</h4>
      We proudly present our letter to the editor of Nature Photonics about the efforts of IPASC. If you are interested, you can check it out here: <br />
      <div class="btn btn-main">
        <a href="https://rdcu.be/byvad">Letter to the Editor</a>
      </div>
    </div>
  
</div>