<div id="news">
	
		<h2 class="text-uppercase">News</h2>
  
    <div class="news-item">
      <h4>Save the Date</h4>
		We are planning to host the first <b>Annual International Photoacoustic Standardisation Consortium Meeting</b> on <b>November 4th 2019</b>, at the National Physical Laboratory, UK. If you are interested in joining, please register via our registration form:<br />
      <div class="btn btn-main">
        <a href="https://www.eventbrite.co.uk/e/international-photoacoustic-standardisation-consortium-1st-annual-meeting-tickets-67011913437", target="_blank">Registration Form</a>
      </div>
    </div>
	
	<div class="news-item">
      <h4>Nature Photonics: Letter to the Editor</h4>
      We proudly present our letter to the editor of Nature Photonics about the efforts of IPASC. If you are interested, you can check it out here: <br />
      <div class="btn btn-main">
        <a href="https://rdcu.be/byvad">Letter to the Editor</a>
      </div>
    </div>
    
    <div class="news-item">
      <h4>Joining IPASC</h4>
      If you want to join IPASC please use our <b> Get Involved </b> page and send us an email. You can find a list of our current members on the <b> Consortium </b> page. <br />
      <div class="btn btn-main">
        <a href="/consortium" >Consortium</a>
      </div>
      <div class="btn btn-main">
        <a href="/getinvolved" >Get Involved</a>
      </div>
    </div>
  
</div>