<div id="news">
	
		<h2 class="text-uppercase">News</h2>
  
    <div class="news-item">
      <h4>SPIE Photonics West 2019 IPASC Talks</h4>
      We will be present at the <b> Photons plus Ultrasound </b> subconference and present our initiative as well as an overview over the different working groups that have been established. 
      These talks will be held in session 10 from 10:45 AM - 12:15 PM ob the 5th of February 2019. <br />
      <div class="btn btn-main">
        <a href="https://spie.org/PWB/conferencedetails/photons-plus-ultrasound?SSO=1" target="_blank">Program</a>
      </div>
    </div>
	
	<div class="news-item">
      <h4>Get-together at SPIE PW 2019</h4>
		On the evening after the SPIE IPASC session on the <b>5th of February</b>, we meet at <b>Wine Down SF</b>, which is booked for us from <b>5pm to 8pm</b>.<br />
      <div class="btn btn-main">
        <a href="https://www.winedownsf.com/" target="_blank">Wine Down SF</a>
      </div>
    </div>
    
    <div class="news-item">
      <h4>Joining IPASC</h4>
      If you want to join IPASC please use our <b> Get Involved </b> page and send us an email. You can find a list of our current members on the <b> Consortium </b> page. <br />
      <div class="btn btn-main">
        <a href="/consortium" >Consortium</a>
      </div>
      <div class="btn btn-main">
        <a href="/getinvolved" >Get Involved</a>
      </div>
    </div>
  
</div>