{{ partial "global-header.html" .Site.Params.consortium }}

<!-- contact form start -->
{{ with .Site.Params.consortium }}
<section id="contact-form">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
		<h2>Leads</h2>

		<div class="portrait">
			<img src="/images/people/dummy.png"/>
			<div class="name">
				John Doe
			</div>
			<div class="affilitaion">
				John Doe Inc.
			</div>
		</div>
		<div class="portrait">
			<img src="/images/people/dummy.png"/>
			<div class="name">
				Jane Doe
			</div>
			<div class="affilitaion">
				Jane Doe Affiliation
			</div>
		</div>

		<h2>Members</h2>

		<div class="portrait">
			<img src="/images/people/dummy.png"/>
			<div class="name">
				John Doe
			</div>
			<div class="affilitaion">
				John Doe Inc.
			</div>
		</div>
		<div class="portrait">
			<img src="/images/people/dummy.png"/>
			<div class="name">
				Jane Doe
			</div>
			<div class="affilitaion">
				Jane Doe Affiliation
			</div>
		</div>
		<div class="portrait">
			<img src="/images/people/dummy.png"/>
			<div class="name">
				John Doe
			</div>
			<div class="affilitaion">
				John Doe Inc.
			</div>
		</div>
		<div class="portrait">
			<img src="/images/people/dummy.png"/>
			<div class="name">
				Jane Doe
			</div>
			<div class="affilitaion">
				Jane Doe Affiliation
			</div>
		</div>
		<div class="portrait">
			<img src="/images/people/dummy.png"/>
			<div class="name">
				John Doe
			</div>
			<div class="affilitaion">
				John Doe Inc.
			</div>
		</div>
		<div class="portrait">
			<img src="/images/people/dummy.png"/>
			<div class="name">
				Jane Doe
			</div>
			<div class="affilitaion">
				Jane Doe Affiliation
			</div>
		</div>
		<div class="portrait">
			<img src="/images/people/dummy.png"/>
			<div class="name">
				John Doe
			</div>
			<div class="affilitaion">
				John Doe Inc.
			</div>
		</div>
		<div class="portrait">
			<img src="/images/people/dummy.png"/>
			<div class="name">
				Jane Doe
			</div>
			<div class="affilitaion">
				Jane Doe Affiliation
			</div>
		</div>
      </div>
    </div>
  </div>
</section>
{{ end }}