<!DOCTYPE html>
<html>
<head>
	{{ partial "head.html" . }}
</head>
<body>

	{{ partial "header.html" . }}
	{{ $params := (dict "title" .Page.Title "subtitle" "")}}

	{{ partial "global-header.html" $params }}
	
	{{ if isset .Params "id" }}
		{{ partial .Params.id . }}
	{{ else }}
		<main>
		<div class="container">
			<div class="row">
			<div class="col-md-12">
				{{ .Content }}
			</div>
			</div>
		</div>
		</main>
	{{ end }}

	{{ if and (isset .Site.Params "call") (.Site.Params.call.enable) }}
		{{ partial "call-to-action.html" . }}
	{{ end }}

	{{ partial "footer.html" . }}

	
</body>
</html>