<!DOCTYPE html>
<html>
<head>
	{{ partial "head.html" . }}
</head>
<body>

	{{ partial "header.html" . }}
	{{ $params := (dict "title" .Page.Title "subtitle" "")}}

	{{ partial "global-header.html" $params }}
	
	{{ if isset .Params "id" }}
		{{ partial .Params.id . }}
	{{ else }}
		<main>
			<div class="index-content-background">
				<div class="main-container">
					<div class="container">
						<div class="row">
						<div class="col-md-12">
							{{ .Content }}
						</div>
						</div>
					</div>
				</div>
			</div>
		</main>
	{{ end }}

    {{ partial "background-image.html" . }}
	{{ partial "footer.html" . }}

	
</body>
</html>